<%= simple_form_for [@cocktail] do |f| %>
<div class="container">
  <div class="row">
    <div class="form-group col-sm-8 col-sm-offset-2">
      <div class="form-inputs">
        <%= f.input :name, class: "form-control" %>
        <%= f.input :summary, class: "form-control" %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
      </div>
      <div class="form-actions">
        <%= f.submit "submit", class: "btn btn-warning" %>
      </div>
    </div>
  </div>
  </div>
<% end %>
